mixin navigation-menu__socials(modifier)
  .navigation-menu__socials&attributes(attributes)
    +social(modifier)(class="main-screen__social social_facebook")
    +social(modifier)(class="main-screen__social social_twitter")
    +social(modifier)(class="main-screen__social social_instagram")