mixin sending-form__bottom(modifier)
  .sending-form__bottom&attributes(attributes)
    +sending-form__contacts(modifier)
    +link({text: modifier.buttonText})(class="sending-form__submit-button link_theme_button")