.navigation__menu {
  display: flex;

  @media (max-width: $md - 1px){
    max-height: 0;

    &:nth-child(1){
      order:2;
    }
    &:nth-child(3){
      order:3;
    }
  }

  @media (min-width: $md){
    flex-grow: 1;
    justify-content: space-around;
    position: relative;
  }
}
