.navigation__menu {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  text-align: center;

  @media (max-width: $md - 1px){
    top: 30px;
    display: block;
    max-height: 0;
    overflow: hidden;

    .navigation__sandwich-input:checked ~ .navigation__menu{
      max-height: none;
    }

  }
}
