.navigation__menu {
  width: 1275px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  text-align: center;
  &:after, &:before{
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    bottom: 0;
    background-color: $navigation-before-after--BGColor;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0px;
  }

  @media (max-width: $md - 1px){
    display: block;
    // max-height: 0;
    width: auto;
    overflow: hidden;

    .navigation__sandwich-input:checked ~ .navigation__menu{
      max-height: none;
    }

  }
}
