include __socials/navigation-menu__socials.pug
include __item-text/navigation-menu__item-text.pug
include __item/navigation-menu__item.pug
include __logo/navigation-menu__logo.pug
include __side/navigation-menu__side.pug
include ../social/social.pug
mixin navigation-menu(modifier)
  .navigation-menu&attributes(attributes)
    if modifier.items == undefined
        - modifier.items = ['someValue','another','value'];
    - var lengthOfArray = modifier.items.length;
    - var halfArray = Math.ceil(lengthOfArray/2);
    - modifier._itemsForSide = modifier.items.slice(0, halfArray);
    +navigation-menu__side(modifier)
    +navigation-menu__logo(modifier)

    - modifier._itemsForSide = modifier.items.slice(halfArray, lengthOfArray);
    +navigation-menu__side(modifier)
    +navigation-menu__socials(modifier)