include __elem/header__elem.pug
include __element/header__element.pug
include __caption/header__caption.pug
include __text/header__text.pug
mixin header(modifier)
  .header&attributes(attributes)
    span hello