mixin main-screen__main-content(modifier)
  .main-screen__main-content&attributes(attributes)
    +header({
        caption:"restaurant",
        text: "hungry people"
      })(class="main-screen__header header_big header_color_white")
    +main-screen__buttons({
        button1Text: "book table",
        button2Text: "explore"
      })
    +main-screen__socials(modifier)