mixin menu__list(list)
  .menu__list&attributes(attributes)

    //- if list.length!= undefined
    //-   span!= 'not empty'
    //-   each item in list
    //-     +list-item(item)(class="menu__list-item")
    //- else
    //-   span!= 'empty'
    //-   - var i= 0
    //-   while i < 21 
    //-     - i++
    //-     +list-item({
    //-       listItemDishName: "pizza quatro stagioni",
    //-       listItemPrice: '55,68',
    //-       listItemDescription: "integer ulimacorper neque eu purus euismod"
    //-     })(class="menu__list-item")

