@import '__main-content/main-screen__main-content';
@import '__button/main-screen__button';
@import '__downward/main-screen__downward';
@import '__buttons/main-screen__buttons';
@import '__header/main-screen__header';
@import '__content/main-screen__content';
.main-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient($main-screen--BGImageGradient), url("../../img/main-screenBG-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $lg){
    background-image: linear-gradient($main-screen--BGImageGradient), url("../../img/main-screenBG.png");
  }


}
