include __socials/main-screen__socials.pug
include __buttons/main-screen__buttons.pug
include __content/main-screen__content.pug
include ../header/header.pug
include ../button/button.pug
include ../downward/downward.pug
include ../social/social.pug
mixin main-screen(modifier)
  .main-screen&attributes(attributes)
    +header({
      caption:"restaurant",
      text: "hungry people"
    })(class="main-screen__header header_big header_color_white")
    +main-screen__buttons({
      button1Text: "book table",
      button2Text: "explore"
    })
    +main-screen__socials(modifier)
    +downward(modifier)(class="main-screen__downward")