include __downward-container/main-screen__downward-container.pug
include __links/main-screen__links.pug
include __content/main-screen__content.pug
include ../header/header.pug
include ../link/link.pug
include ../downward/downward.pug
mixin main-screen(modifier)
  .main-screen&attributes(attributes)
    +main-screen__content(modifier)
    +main-screen__downward-container(modifier)