include __main-content/main-screen__main-content.pug
include __socials/main-screen__socials.pug
include __buttons/main-screen__buttons.pug
include __content/main-screen__content.pug
include ../header/header.pug
include ../button/button.pug
include ../downward/downward.pug
include ../social/social.pug
mixin main-screen(modifier)
  .main-screen&attributes(attributes)
    +main-screen__main-content(modifier)
    +downward(modifier)(class="main-screen__downward")