@import '__social/navigation__social';
@import '__sandwich-ico-container/navigation__sandwich-ico-container';
@import '__sandwich-input/navigation__sandwich-input';
@import '__sandwich-ico/navigation__sandwich-ico';
@import '__content/navigation__content';
$side--width:530px;
$gapBetweenSides--width:220px;
@import '__menu/navigation__menu';
@import '__socials/navigation__socials';
@import '__item-text/navigation__item-text';
@import '__item/navigation__item';
@import '__logo/navigation__logo';
.navigation {
  @include centeredX();
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;

  // $main-screen--vertical-lines-margin: 20.4vw;
  // &:before, &:after{
  //   position: absolute;
  //   top: 100%;
  //   content: '';
  //   height: 100vh;
  //   width: 1px;
  //   background-color: $main-screen-before-after--BGColor;
  // }
  // &:before{left: $main-screen--vertical-lines-margin;}
  // &:after{right: $main-screen--vertical-lines-margin;}
  @media (max-width: $md - 1px){
    flex-direction: column;
  }

  @media (max-width: $xl - 1px) {
    width: 100%;
  }
}
