@import '__sandwich-ico-container/navigation__sandwich-ico-container';
@import '__sandwich-input/navigation__sandwich-input';
@import '__sandwich-ico/navigation__sandwich-ico';
@import '__content/navigation__content';
$side--width:530px;
$gapBetweenSides--width:220px;
@import '__menu/navigation__menu';
@import '__socials/navigation__socials';
@import '__item-text/navigation__item-text';
@import '__item/navigation__item';
@import '__logo/navigation__logo';
.navigation {
  @include centeredX();
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
  @media (max-width: $md - 1px){
    flex-direction: column;
  }

  @media (max-width: $xl - 1px) {
    width: 100%;
  }
  @media (min-width: $md){
    &:after, &:before{
      position: absolute;
      content: '';
      width: 40%;
      height: 1px;
      bottom: 0;
      background-color: $navigation-before-after--BGColor;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0px;
    }
  }
}
