@font-face {
  font-family: 'open-sans';
  font-style: bold;
  src:  local('☺'),
        url('../../fonts/open-sans/open-sans-bold.woff2') format('woff2'),
        url('../../fonts/open-sans/open-sans-bold.woff') format('woff');
}
