/* no sense variables */

$white: #fff;
$orange: #E8C300;

/* variables with sense */
$header__text_color_white--color: $white;
$header-after--BGColor: $orange;

/* *********************************************************************** */
