/* no sense variables */

$white: #fff;

$orange: #E8C300;

$gray: rgba(255, 255, 255, 0.5);
/* variables with sense */
/* *********************************************************************** */

$header__text_color_white--color: $white;
$header-after--BGColor: $orange;

$button--BGColor: $orange;
$button__text--color: $white;
$button_transparent--BGColor: transparent;
$button_transparent--borderColor: $gray;
