/* no sense variables */

$white: #fff;

$orange: #E8C300;

$black: #333333;

$gray-lightest: rgba(255, 255, 255, 0.2);
$gray: rgba(255, 255, 255, 0.5);

$shadow-gradient: (0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
/* variables with sense */
/* *********************************************************************** */

$header-after--BGColor: $orange;
$header__text_color_white--color: $white;
$header__text-before-after--BGColor: $gray-lightest;

$button--BGColor: $orange;
$button--color: $white;
$button_transparent--BGColor: transparent;
$button_transparent--borderColor: $gray;

$social--borderColor: $gray-lightest;
$social-active--BGColor: $black;

$navigation__item--color: $white;
$navigation-before-after--BGColor: $gray-lightest;


$downward--BGColor: $white;
$downward-after--color: $black;

$main-screen--BGImageGradient: $shadow-gradient;
