include __content/sending-screen__content.pug
include ../text-box/text-box.pug
include ../header/header.pug
include ../sending-form/sending-form.pug
include __header-container/sending-screen__header-container.pug
mixin sending-screen(modifier)
  .sending-screen&attributes(attributes)
    +sending-screen__content(modifier)