.navigation-menu__item {
  font-family: 'open-sans' ,Georgia , serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  color: $navigationMenu__item--color;
  text-transform: uppercase;
  cursor: pointer;

  height: 15px;
}
