@import '_transparent/button_transparent';
@import '__text/button__text';
.button {
  @include unselectable;
  @include px(15px);
  @include py(22px);
  text-align: center;
  cursor: pointer;
  background-color: $button--BGColor;
  min-width: 200px;
  border-radius: 5px;
  color: $button--color;

  @media (max-width: $md - 1px) {
    @include py(15px);
    @include px(5px);
    min-width: 100px;
  }

  &:hover{
    opacity: 0.75;
  }

  &:active{
    background-color: darken($button--BGColor,10%);
  }

  &.button_transparent{
    border-width: 1px;
    border-style: solid;
    background-color: $button_transparent--BGColor;
    border-color: $button_transparent--borderColor;
    @include buttonFullBehave ($button_transparent--BGColor,$button--color);
  }
}
