mixin sending-form__input-fields-container(modifier)
  .sending-form__input-fields-container&attributes(attributes)
    - var n = 0;
    each objVal in [{placeholder:"Name", class:""},{placeholder:"Email", class:""},{placeholder:"Phone", class:""},{placeholder:"People", class:"sending-form__input-field_selection"},{placeholder:"Date(mm/dd)", class:"sending-form__input-field_date"},{placeholder:"Time", class:"sending-form__input-field_selection"}]
      +sending-form__input-field(modifier)(class=objVal.class placeholder=objVal.placeholder)
