include ../list-item/list-item.pug
include __list/menu__list.pug
include __tab-text/menu__tab-text.pug
include __tab-container/menu__tab-container.pug
include __navigation/menu__navigation.pug
mixin menu(modifier)
  .menu&attributes(attributes)
    +menu__navigation(modifier)
    +menu__list(modifier)