include __input-field/sending-form__input-field.pug
include __submit-button/sending-form__submit-button.pug
include __input-fields-container/sending-form__input-fields-container.pug
mixin sending-form(modifier)
  form.sending-form&attributes(attributes)
    +sending-form__input-fields-container(modifier)
    +sending-form__submit-button(modifier)