mixin content-screen__content-box(modifier)
  .content-screen__content-box&attributes(attributes)
    +header({
      text:modifier.headerText})
    +text-box(modifier.textHighlighted)(class='content-screen__text-box text-box_highlighted')
    +text-box(modifier.text)(class='content-screen__text-box')