.content-screen__content-box {
  padding-left: 95px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $lg - 1px){
    @include px(10px);
  }
}
