mixin content-screen__content-box(modifier)
  .content-screen__content-box&attributes(attributes)
    if modifier._haveImage
      +content-screen__image(modifier)
    else
      +content-screen__content(modifier)