.content-screen__content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-left: 16px;
  position: relative;

  @media (max-width: $lg - 1px){
    @include px(10px);
  }
  @media (max-width: $md - 1px) {
    width: 90%;
    flex-direction: row;
  }
}

.content-screen_with-lines{
  .content-screen__content-box+.content-screen__content-box:before{
    position: absolute;
    content: '';
    display: block;
    background-color: $content-screen_with-lines__content-box-before--BGColor;
    height: 100%;
    width: 1px;
    left: 0;
  }
}

.content-screen_image-position_right{
  .content-screen__content-box:nth-child(2) {
    align-items: flex-start;
  }
}

.content-screen_image-position_left{
  .content-screen__content-box:first-child {
    align-items: flex-end;
  }
}

.content-screen_image-position_both-sides{
  .content-screen__content-box:first-child {
    align-items: flex-end;
  }
  .content-screen__content-box:nth-child(2) {
    align-items: flex-start;
  }
}

.content-screen_theme_dark{
  .content-screen__content-box{
    color: $content-screen_theme_dark__content-box--Color;
  }
}
