.navigation__logo {
  @include square(150px);
  @include centeredX();
  cursor: pointer;
  position: absolute;


  @media (max-width: $md - 1px){
    @include square(50px);
    transform: translate(-50%,-100%);
    top: 0;
  }
}
