mixin main-screen__content(modifier)
  .main-screen__content&attributes(attributes)
    +main-screen__timework(modifier)
    +main-screen__central-container(modifier)
    +main-screen__socials(modifier)