mixin main-screen__buttons(modifier)
  .main-screen__buttons&attributes(attributes)
    +button({text: modifier.button1Text})(class="main-screen__button")
    +button({text: modifier.button2Text})(class="main-screen__button button_transparent")