.navigation__content {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  position: relative;

  @media (max-width: $md - 1px){
    @include transition();
    background-color: $navigaiont__content-md--BGColor;
    overflow-y: scroll;
    display: block;
    transform: translatex(-100%);
    min-height: 100vh;

    .navigation__sandwich-input:checked ~ &{
      @include transition();
      transform: translatex(0);
    }
  }
}
