.sending-form__contacts {
  display: flex;
  width: 50%;
  justify-content: start;
  min-height: 50px;
  align-items: center;

  @media (max-width: $sm - 1px) {
    width: 100%;
    justify-content: space-around;
  }
}
