mixin navigation-and-main-screen(modifier)
  .navigation-and-main-screen&attributes(attributes)
    +navigation({
      items:['home','about','team','booking','menu','galerie','events','contact']
    })
    +main-screen()