@import '_highlighted/text-box_highlighted';
.text-box {
  text-align: center;
  font-family: 'open-sans' ,Georgia , serif;
  font-size: 1.27rem;
  line-height: 2.8rem;
}

.text-box_highlighted {
  font-size: 1.86rem;
  font-weight: bold;
}
