.navigation__socials {
  display: flex;
  @media (min-width: $lg){
    // @include centeredY($top:56%)
    justify-content: space-around;
    right: 0vw;
    top: 38.3vh;
    height: 245px;
    flex-direction: column;
    position: absolute;
  }
}
