.navigation__socials {
  display: flex;
  @media (min-width: $lg){
    // @include centeredY($top:56%)
    justify-content: space-around;
    right: 5.4vw;
    top: 37.7vh;
    height: 245px;
    flex-direction: column;
    position: absolute;
  }
}
