mixin main-screen__socials(modifier)
  .main-screen__socials&attributes(attributes)
    +social(modifier)(class="social_facebook")
    +social(modifier)(class="social_twitter")
    +social(modifier)(class="social_instagram")