mixin main-screen__socials(modifier)
  .main-screen__socials&attributes(attributes)
    +social(modifier)(class="main-screen__social social_facebook")
    +social(modifier)(class="main-screen__social social_twitter")
    +social(modifier)(class="main-screen__social social_instagram")