@import '_with-lines/content-screen_with-lines';
@import '_theme_dark/content-screen_theme_dark';
@import '_theme_our-team/content-screen_theme_our-team';
@import '__banner/content-screen__banner';
@import '__img/content-screen__img';
@import '__content/content-screen__content';
@import '__text-box/content-screen__text-box';
@import '_image-position_both-sides/content-screen_image-position_both-sides';
@import '_image-position_left/content-screen_image-position_left';
@import '_image-position_right/content-screen_image-position_right';
@import '__image/content-screen__image';
@import '__header/content-screen__header';
@import '__content-box/content-screen__content-box';
.content-screen {
  display: flex;
  height: 675px;
  position: relative;

  &.content-screen_with-lines:after, &.content-screen_with-lines:before{
    position: absolute;
    content: '';
    display: block;
    background-color: $content-screen_with-lines-before-after--BGColor;
    height: 100%;
    width: 1px;
  }
  &.content-screen_with-lines:after{
    right: 20.4%;
  }
  &.content-screen_with-lines:before{
    left: 20.4%;
  }

  @media (max-width: $xl - 1px) {
    padding-bottom: 0;
  }
  @media (max-width: $md - 1px){
    flex-direction: column;
    height: auto;
    align-items: center;
    padding-bottom: 20px;
  }

  &.content-screen_theme_our-team{
    background-image: linear-gradient($content-screen_theme_our-team--BGImageGradient), url("../../img/vegetables.png");
    @media (max-width: $lg - 1px) {
      background-image: linear-gradient($content-screen_theme_our-team--BGImageGradient), url("../../img/vegetables-md.png");
    }
    @media (max-width: $sm - 1px) {
      background-image: linear-gradient($content-screen_theme_our-team--BGImageGradient), url("../../img/vegetables-mobile.png");
    }
  }
}
