include __content/content-screen__content.pug
include __image/content-screen__image.pug
include __content-box/content-screen__content-box.pug
include ../text-box/text-box.pug
include ../header/header.pug
mixin content-screen(modifier)
  .content-screen&attributes(attributes)
    +content-screen__content-box(modifier)
    +content-screen__content-box(modifier)