include __banner/content-screen__banner.pug
include __img/content-screen__img.pug
include __content/content-screen__content.pug
include __image/content-screen__image.pug
include __content-box/content-screen__content-box.pug
include ../text-box/text-box.pug
include ../header/header.pug
mixin content-screen(modifier)
  .content-screen&attributes(attributes)
    if (attributes.class.indexOf('_image-position_both-sides') > -1)
      - var isFirstContentBoxHaveImage = true;
      - var isSecondContentBoxHaveImage = true;
    else if (attributes.class.indexOf('_image-position_left') > -1)
      - var isFirstContentBoxHaveImage = true;
      - var isSecondContentBoxHaveImage = false;
    else if (attributes.class.indexOf('_image-position_right') > -1)
      - var isFirstContentBoxHaveImage = false;
      - var isSecondContentBoxHaveImage = true;

    if modifier.banner != undefined
      +content-screen__banner(modifier)
    +content-screen__content-box(Object.assign(modifier, {_haveImage: isFirstContentBoxHaveImage}))
    +content-screen__content-box(Object.assign(modifier, {_haveImage: isSecondContentBoxHaveImage}))