@import '__content/content-screen__content';
@import '__text-box/content-screen__text-box';
@import '_image-position_both-sides/content-screen_image-position_both-sides';
@import '_image-position_left/content-screen_image-position_left';
@import '_image-position_right/content-screen_image-position_right';
@import '__image/content-screen__image';
@import '__header/content-screen__header';
@import '__content-box/content-screen__content-box';
.content-screen {
  display: flex;
  height: 632px;

  @media (max-width: $md - 1px){
    flex-direction: column;
  }
}
